{% extends "base.html" %}
{% block content %}
  <div class="container py-5 h-100 mb-4">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="../../static/img/logo.png"
                    style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">InflabExpress Member </h4>
                </div>
        
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-danger" role="alert">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}

                <form method="POST" action="/security/login">
                  <p >Introduce tus datos</p>

                  <div class="form-outline mb-2">
                    <input type="email" name="email" class="mtb-2 form-control"autofocus=""
                      placeholder="correo electronico" />
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" placeholder="contraseña" name="password" class="form-control" autofocus=""/>
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button class="btn text-white btn-block mb-3" style="background-color: #4abaa5;">Inicio Sesion</button>
                  </div>
                  {% if not current_user.is_authenticated %}

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 mr-2">¿No tienes una cuenta?</p>
                    <a  class="btn btn-outline-warning" href="{{ url_for('auth.register') }}">Crear</a>
                  </div>
                  {% endif %}


                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">Accede a nuestros productos</h4>
                <p class="small mb-0">Con la cuenta Surf Member para clientes podras ver nuestros productos y comprarlos en linea
                    de una manera tan facil, además de estar al tanto de nuestros nuevos lanzamientos.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
