.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #76c1b3, #5dbbaa, #4abaa5, #3cbaa3);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #fadb8b, #fdd775, #fbcd59, #f8be2e);
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }
    /* diseño para el total */
    .total-container {
        margin-top: 20px;
        padding-left: 60%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
      
      label {
        margin-right: 10px;
        font-weight: bold;
      }
      
      .subtotal {
        border: none;
        border-bottom: 2px solid gray;
        font-size: 16px;
        font-weight: bold;
        text-align: right;
        width: 100px;
      }

      /* diseño para el modal step*/
      .sw-btn-next{
background-color: #4abaa5;
border-color: white;
      }
     /* diseño imagen producto*/
    
    