{% extends "base.html" %} 
 
{% block content%}
  {%from "_macros.html" import renderNuevo_field%}

  <div class="mt-4 container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-danger" role="alert">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}

   <div class="row">
       <form name="sent" action="/agregarProducto" id="form1" method="POST">

        <div class="form-group">
            {{ form.nombre.label(class="control-label") }}
            {{ form.nombre(class="form-control") }}
          </div>
            <div class="form-group">
                {{ form.descripcion.label(class="control-label") }}
                {{ form.descripcion(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.stock.label(class="control-label") }}
                {{ form.stock(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.altura.label(class="control-label") }}
                {{ form.altura(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.ancho.label(class="control-label") }}
                {{ form.ancho(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.largo.label(class="control-label") }}
                {{ form.largo(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.subtotal.label(class="control-label") }}
                {{ form.subtotal(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.total.label(class="control-label") }}
                {{ form.total(class="form-control") }}
            </div>
        <div class="control-group">
            <div class="form-group col-xs-12">
                <div class="form-group">
                    <label for="image">Imagen del producto</label>
                    <input type="file" class="form-control-file" id="image" name="image" accept="image/*" required>
                  </div>
            </div>
        </div>
           <input type="submit" class="btn btn-outline-primary" id="reg-alum" name="registra" value="Registrar"/>
       </form>
   </div>
  </div>

{% endblock %}