{% extends 'base.html' %}

{% block content %}
  <h4>Lista de materias primas</h4>
  
  <div class="container">
    <div class="row">
  <table class="table table-striped table-bordered">
    <thead>
      <tr class="tr-head">
        <th>id</th>
        <th>id_tipo</th>
        <th>nombre MateriaPrima</th>
        <th>color</th>
        <th>costo</th>
        <th>stock</th>
        <th>idProveedor</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for materia_prima in materiaPrimas  %}
        <tr>
          <td>{{materia_prima.id}}</td>
          <td>{{ materia_prima.id_tipo }}</td>
          <td>{{ materia_prima.nombreMateriaPrima }}</td>
          <td>{{ materia_prima.color }}</td>
          <td>{{ materia_prima.costo }}</td>
          <td>{{ materia_prima.stock }}</td>
          <td>{{ materia_prima.idProveedor }}</td>
          <td><a href="{{ url_for('materiaPrima.editarMateriaPrima', id=materia_prima.id) }}" class="button is-info">Editar</a></td>

          <td>
            <form action="{{ url_for('materiaPrima.eliminar_materiaPrima', id=materia_prima.id) }}" method="POST" onsubmit="return confirm('¿Estás seguro de que quieres eliminar esta materia prima?');">
              <input type="hidden" name="_method" value="DELETE">
              <button type="submit" class="button is-danger">Eliminar</button>
            </form>
          </td>

        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="row">
  <a href="agregar_materia_prima" class="btn btn-success">
    <i class="icon-warning icon-white"></i>Agregar
  </a>
</div>
</div>
{% endblock %}
