{% extends "base.html" %} 
{% block content%}
<!-- Encabezado -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 fade-in">Sobre nosotros</h1>
    <p class="lead fade-in text-justify">InflabExpress es una empresa dedicada a la producción y venta de inflables para eventos y fiestas infantiles. Fundada en [año de fundación], la empresa se ha enfocado en ofrecer productos de alta calidad y durabilidad a sus clientes. A pesar de su corta trayectoria, InflabExpress se ha consolidado en el mercado gracias a su compromiso con la excelencia y su atención al cliente.</p>
  </div>
</div>

<!-- Contenido -->
<div class="container">
  <div class="row">
    <div class="col-md-6 fade-in-left">
      <h2>Nuestra misión</h2>
      <p class="text-justify">En InflabExpress, nuestra misión es ofrecer productos de alta calidad y durabilidad para satisfacer las necesidades de nuestros clientes en eventos y fiestas infantiles. Nos esforzamos por superar las expectativas de nuestros clientes mediante la mejora continua de nuestros procesos de producción y atención al cliente.</p>

    </div>
    <div class="col-md-6 fade-in-left">
      <h2>Nuestros valores</h2>
      <ul class="text-justify">
        <li class="fade-in">Innovación</li>
        <li class="fade-in">Calidad</li>
        <li class="fade-in">Compromiso</li>
        <li class="fade-in">Trabajo en equipo</li>
        <li class="fade-in">Excelencia</li>
      </ul>
    </div>
    <div class="col-md-6 fade-in-right">
      <h2>Nuestro equipo</h2>
      <p class="text-justify">En InflabExpress, contamos con un equipo de profesionales comprometidos con la calidad y la excelencia en todo lo que hacemos. Nuestro equipo de producción está altamente capacitado en la fabricación de inflables de alta calidad y durabilidad, y nuestro equipo de atención al cliente está dedicado a ofrecer un servicio excepcional a nuestros clientes. Además, contamos con un equipo de gestión que se encarga de supervisar y mejorar continuamente nuestros procesos de producción y atención al cliente para garantizar la satisfacción de nuestros clientes.</p>
      
    </div>
  </div>
</div>

{% endblock %}
